<section class="lista-curriculos">
    <!-- Início de um loop ngFor que percorre cada objeto 'vaga' na matriz
    'vagas' -->
    <div *ngFor="let curriculo of curriculos">
        <div class="card" style="width: 18rem;">
            <img src="assets\img\curriculos\{{curriculo.foto}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Candidato: {{curriculo.id}}</h5>
                <h5 class="card-title">Nome: {{curriculo.nome}}</h5>
                <p class="card-text">Experiência: {{curriculo.experiencia}}</p>
                <p class="card-text">Contato: {{curriculo.contato}}</p>
            </div>
        </div>
    </div>
</section>
